.container {
  .shape {
    img {
      height: 140px;
      width: 140px;
      border-radius: 20px;
      border: 8px solid white;
    }
  }

  .user-info {
    margin-top: 200px;
    position: relative;
    .user-name {
      text-align: start;
      color: black;
    }
    $grid-gutter-width: 1.5rem !default;

    .row {
      .change-password {
        padding: 20px;
        input {
          padding: 10px;
          border: none;
          border-radius: 15px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        }

        button {
          font-size: 1.1em;
          font-weight: bold;
          color: white;
          text-decoration: none;
          background-color: #0B78B8;
          border: none;
          border-radius: 15px;
          padding: 10px 20px;

          &:hover {
            background-color: #4DA7DC;
            transition: background-color 0.2s;
          }
        }
      }
      .col {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
      }
      .user-skills {
        display: flex;
        flex-direction: column;
        h3 {
          text-align: center;
        }
        p {
          font-size: 1.1em;
          padding: 15px;
          color: black;
        }
      }
    }

    .current-projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      margin: 50px auto;
      .btn-begin-project {
        max-width: 360px;

        height: 100px;
        font-size: 1.8em;
        background-color: white;
        border: 8px solid #0B78B8;
        border-radius: 8px;
        color: #0B78B8;
        font-weight: bold;
        &:hover {
          transition: 0.2s;
          background-color: #0B78B8;
          color: white;
        }
      }
      h2 {
        color: #0B78B8;
        text-align: center;
      }
      .user-projects {
        display: flex;
        flex-direction: column;
        gap: 2em;
        .user-project {
          padding: 20px;
          width: 60vw;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 8px;
        }

        span {
          font-size: 1.1em;
        }
        .leader-status {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
}
