.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.container-sm {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  background-color: white;
  height: 400px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.2em;
    text-align: left;
    margin: 20px auto;
    height: 10.5em;
    text-overflow: ellipsis "[...]";
    overflow: auto;
    overflow-wrap: break-word;
    hyphens: auto;
    max-width: 100%;
  }
  a {
    text-decoration: none;
    h1 {
      font-weight: 300;
      color: rgba(62, 62, 120, 1);
      text-decoration: none;
      text-underline-offset: 5px;
    }
  }

  .link-project-about {
    text-decoration: none;
    color: white;
    background-color: rgba(62, 62, 120, 1);
    font-size: 1.2em;
    padding: 20px 10px;
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 200px;
    text-align: center;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.sr-only {
  width: 250px;
  height: 250px;
}

app-not-found {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
mat-paginator {
  font-size: 1.2em;
  color: rgba(62, 62, 120, 1);
  span {
    font-size: 1.2em;
  }
}
