<div class="container-fluid">
  <div class="about-us-container">
    <div class="statistics">
      <div class="info">
        <h3>Чем наша площадка полезна?</h3>
        <p>
          Наш сайт собирает все открытые проекты студентов, которым нужны люди в
          команду, так что смелее присоединяйся!
        </p>
      </div>
      <div class="count-projects">
        <span>Всего активных проектов на сайте</span>
        <span class="count">{{ amountProjects }}</span>
      </div>
      <div class="count-users">
        <span>Всего студентов-участников</span>
        <span class="count">{{ amountUsers }}</span>
      </div>
    </div>
    <div class="about-us">
      <div class="first">
        <img src="../../../../assets/images/1.svg" alt="" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          voluptate magnam laboriosam cum, quibusdam fugiat tenetur laborum
          optio rem libero facilis natus praesentium iste maiores! Nulla,
          doloribus cum. Quas nostrum quia consequatur qui repellendus harum
          ratione inventore aperiam minus est!
        </p>
      </div>
      <div class="second">
        <img src="../../../../assets/images/2.svg" alt="" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          voluptate magnam laboriosam cum, quibusdam fugiat tenetur laborum
          optio rem libero facilis natus praesentium iste maiores! Nulla,
          doloribus cum. Quas nostrum quia consequatur qui repellendus harum
          ratione inventore aperiam minus est!
        </p>
      </div>
      <div class="third">
        <img src="../../../../assets/images/3.svg" alt="" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          voluptate magnam laboriosam cum, quibusdam fugiat tenetur laborum
          optio rem libero facilis natus praesentium iste maiores! Nulla,
          doloribus cum. Quas nostrum quia consequatur qui repellendus harum
          ratione inventore aperiam minus est!
        </p>
      </div>
      <div class="fourth">
        <img src="../../../../assets/images/4.svg" alt="" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          voluptate magnam laboriosam cum, quibusdam fugiat tenetur laborum
          optio rem libero facilis natus praesentium iste maiores! Nulla,
          doloribus cum. Quas nostrum quia consequatur qui repellendus harum
          ratione inventore aperiam minus est!
        </p>
      </div>
    </div>
  </div>
</div>
