<div class="container-fluid">
  <div class="about-us-container">
    <div class="display-1">О НАС</div>
    <div class="text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam
        sed itaque asperiores dolorum hic tempora voluptatibus consequatur
        tenetur laboriosam voluptatum ex impedit aspernatur iusto enim quo, eos
        possimus assumenda molestias? Officiis distinctio amet ab nisi ducimus
        nesciunt placeat deserunt sit laboriosam optio nulla beatae provident
        assumenda, harum officia! Nemo.
      </p>
    </div>
  </div>
  <img src="../../../../assets/images/Logo.svg" alt="MUFS" />
</div>
