.list-faculties {
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;

  font-size: 16px;
}
span {
  margin-left: 10px;
}
.faculty-general {
  background: linear-gradient(91.59deg, #3CC149 5.04%, #4EE879 102.5%);
  color: #fff;
  padding: 16px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.image {
  width: 20%;
  float: left;
}
.image_one {
  width: 15%;
}
.image_two {
  width: 20%;
}

.faculty-it {
  background: linear-gradient(91.59deg, #3C71C1 5.04%, #764EE8 102.5%);
  color: #fff;
  padding: 16px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.faculty-oil {
  background: linear-gradient(91.59deg, #C13C3C 5.04%, #E8984E 102.5%);
  color: #fff;
  padding: 16px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.faculty-economy {
  background: linear-gradient(91.59deg, #8FC13C 5.04%, #9BE84E 102.5%);
  color: #fff;
  padding: 16px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.faculty-auto {
  background: linear-gradient(91.59deg, #973CC1 5.04%, #E84EBD 102.5%);
  color: #fff;
  padding: 16px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

a {
  background-color: #f0efef;
  color: #0B78B8;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  justify-content: space-between;
}
