<div class="list-faculties">
  <div class="faculty-general">
    <div class="unit">
      <img src="../../assets/images/general.svg" alt="Лого факультета" class="image_one"/>
      <span>Общенаучный факультет</span> 
    </div> 

    <a routerLink="/faculty-general">Перейти</a> 

  </div>

  <div class="faculty-it">
    <div class="unit">
       <img src="../../assets/images/IT.svg" alt="Лого факультета" class="image" />
       <span>ИТ//факультет</span>
     </div>
    <a routerLink="/faculty-it">Перейти</a>
  </div>


  <div class="faculty-oil">
  <div class="unit">
    <img src="../../assets/images/oil.svg" alt="Лого факультета" class="image"/>
    <span>Нефтяник</span>
  </div>
    <a routerLink="/faculty-oil">Перейти</a>
  </div>


  <div class="faculty-economy">
  <div class="unit">
    <img src="../../assets/images/Econom.svg" alt="Лого факультета" class="image" />
    <span>Экономист</span>
  </div>
    <a routerLink="/faculty-economy">Перейти</a>
  </div>

  <div class="faculty-auto">
  <div class="unit">

    <img src="../../assets/images/Auto.svg" alt="Лого факультета" class="image_two" />
    <span>Автомобилист</span>
  </div>
    <a routerLink="/faculty-auto">Перейти</a>
  </div>
</div>
