<div class="list-faculties">
  <div class="faculty-general">
    <img src="" alt="Лого факультета" />
    <span>Общенаучный факультет</span>
    <a routerLink="/faculty-general">Перейти</a>
  </div>
  <div class="faculty-it">
    <img src="" alt="Лого факультета" />
    <span>ИТ//факультет</span>
    <a routerLink="/faculty-it">Перейти</a>
  </div>
  <div class="faculty-oil">
    <img src="" alt="Лого факультета" />
    <span>Нефтяник</span>
    <a routerLink="/faculty-oil">Перейти</a>
  </div>
  <div class="faculty-economy">
    <img src="" alt="Лого факультета" />
    <span>Экономист</span>
    <a routerLink="/faculty-economy">Перейти</a>
  </div>
  <div class="faculty-auto">
    <img src="" alt="Лого факультета" />
    <span>Автомобилист</span>
    <a routerLink="/faculty-auto">Перейти</a>
  </div>
</div>
