nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.navbar {
  .navbar-brand {
    margin: 0 10px;
  }

  ul {
    margin: 0;
  }

  .nav-link {
    font-size: 1.05em;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }

  .nav-link:hover {
    color: rgb(11, 120, 184);
    transition: color 0.5s;
  }

  .profile-part {
    background-color: rgb(11, 120, 184);
    border-radius: 15px;

    .dropbtn {
      background-color: rgb(11, 120, 184);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      border-radius: 15px;
      cursor: default;
    }

    img {
      width: 50px;
      border-radius: 50%;
    }
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    font-size: 1.1em;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
  }
  .dropdown:hover {
    margin-bottom: 0px;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(11, 120, 184);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-bottom: 1px solid rgb(11, 120, 184);
    border-radius: 8px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #4DA7DC;
    border-radius: 8px;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .login-btn {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb(11, 120, 184);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px 20px;
    height: 60px;
    border-radius: 8px;
  }

  .login-btn:hover {
    background-color: rgb(77, 167, 220);
    transition: color 0.5s;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
}