<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a *ngIf="!isAuth" routerLink="/login">Логин</a>
    <div *ngIf="isAuth" class="navbar-container">
      <a class="navbar-name" routerLink="/profile">
        {{ user.name }}
      </a>
      <a (click)="logout()">Выйти из аккаунта</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resumes">Резюме</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          #s
          class="form-control me-2"
          type="search"
          placeholder="Поиск..."
          aria-label="Search"
          (keyup.enter)="search(s.value)"
          [value]="searchTerm"
        />
        <button class="btn btn-outline-success" (click)="search(s.value)">
          Поиск
        </button>
      </form>
    </div>
  </div>
</nav>
