@import "../node_modules/bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: "Roboto Regular";
  src: url(./assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "Roboto LightItalic";
  src: url(./assets/fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(./assets/fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "Roboto Italic";
  src: url(./assets/fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: "Roboto BoldItalic";
  src: url(./assets/fonts/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(./assets/fonts/RobotoCondensed-Bold.ttf);
}

* {
  font-family: "Roboto Regular";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
