.faculty-description {
    background-color: #3C71C1;
    color: #FFFFFF;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 16px;
    height: 170px;
    width: 900px;
    cursor: default;
    display: flex;
}
.images {
    width: 12%;
    margin-left: 15px;
}
.description {
    margin-top: auto;
    margin-bottom: auto;
}
.about {
    hyphens: auto;
    margin-right: 15px; 
}
.courses {
    margin: 50px;
}
.course_h1 {
   font-size: 24pt;
   margin-bottom: 15px;
}
.lessons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lesson {
    color: #FFFFFF;
    border: 4px solid rgba($color: #5C5C5C, $alpha: 0.5);
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 450px;
    color: black;
    display: flex;
    justify-content: space-between;
}
.desc {
    font-size: 10pt;
}
.link-project-about {
    background-color: #0B78B8;
    color: #FFFFFF;
    padding: 10px;;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: auto;
}
.link-project-about:hover {
    background-color: rgb(77, 167, 220);
    transition: color 0.5s;
  }