<div class="container">
  <div class="faculty-description gap-3">
    <img class="images d-none d-sm-block" src="../../assets/images/IT.svg" alt="image1" />
    <div class="description">
    <h2>ИТ//Факультет</h2>
    <p class="about">
      Предлагает учащимся практические и лекционные занятия, практикумы, занятия в лабораториях профориентации,
      подготовку к олимпиадам по иностранному языку, математике, физике, химии, экологии, русскому языку, черчению,
      проектным работам и направлениям работы военной кафедры.
    </p>
  </div>
</div>
<div class="courses mt-3 mb-3">
  <div>
    <h1 class="course_h1">Курсы:</h1>
  </div>
  <div class="lessons d-flex flex-column flex-lg-row flex-wrap align-content-center justify-content-around gap-3">
    <div class="lesson d-flex flex-row" *ngFor="let project of projects">
      <div class="about_course col-9">
        <h4>{{ project.title }}</h4>
        <p class="desc text-wrap">
          {{ project.description }}
        </p>
      </div>
      <a class="link-project-about col-3 text-center" routerLink="/projects/{{ project.id }}">Подробнее</a>
    </div>
  </div>
</div>
</div>