<div class="container-sm">
  <div class="user-name-photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVLqfekg_kitC_QJ5kgBUTh2tt5EIcxEnQDQ&usqp=CAU"
      alt="Фотография пользователя"
    />
    <h2>Иванов Иван Иванович</h2>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae autem magnam,
    praesentium ipsum eius laborum et modi dolores sed ab perferendis
    cupiditate, eaque velit sit exercitationem qui sequi facilis. Nemo
    distinctio eligendi labore ratione, suscipit ut ipsa dolores eveniet optio
    assumenda, fugit vitae repellendus architecto itaque quam molestiae sit
    sunt.
  </p>
  <a class="btn-invite-to-project" href="#">Пригласить в проект</a>
</div>
