<app-not-found
  [visible]="!project"
  notFoundMessage="Проект не найден"
  resetLinkText="Вернуться на главную страницу"
></app-not-found>

<div *ngIf="project.id" class="container">
  <div class="row justify-content-between flex-wrap">
    <div class="col-sm-3 leader-and-members">
      <div class="leader-info">
        <div class="leader-profile">
          <img
            src="../../../../assets/images/User-profile-picture.png"
            alt="Profile image"
            class="leader-profile-picture image-responsive col-sm-3"
          />
          <div class="col-sm-7 leader-name">
            <span>{{ this.userProject?.name }}</span
            ><br />
            <span class="leader-sign">Лидер проекта</span>
          </div>
        </div>
        <div class="about-leader">
          <h3>О лидере</h3>
          <p>
            {{ this.userProject?.skills }}
          </p>
        </div>
      </div>
      <div class="members-count">
        <span>Уже участвуют в проекте: {{ project.members.length }}</span>
      </div>
      <div *ngIf="!(project.leader.toString() == this.user?.id)">
        <button
          *ngIf="participateStatus == 3"
          class="btn btn-primary"
          (click)="participateInProject()"
        >
          Участвовать
        </button>
        <button class="btn-non-active" *ngIf="participateStatus == 2">
          На рассмотрении лидера
        </button>
        <button class="btn-non-active" *ngIf="participateStatus == 1">
          Вы уже в проекте
        </button>
      </div>
    </div>
    <div class="col-sm-8 project-info">
      <h1>{{ project.title }}</h1>
      <p>
        {{ project.description }}
      </p>
    </div>
  </div>
  <div
    class="pending-members"
    *ngIf="project.leader.toString() == this.userInfo.id"
  >
    Следующие ожидаемые пользователи

    <div class="pMember" *ngFor="let member of pMember">
      <span>{{ member.name }}</span>
      <button
        (click)="makeDecisionOnAddingToProject(member.id, true, project.id)"
      >
        Принять
      </button>
      <button
        (click)="makeDecisionOnAddingToProject(member.id, false, project.id)"
      >
        Отклонить
      </button>
    </div>
  </div>
</div>
