<app-not-found
  [visible]="!project"
  notFoundMessage="Занятие не найдено"
  resetLinkText="Вернуться на главную страницу"
></app-not-found>

<div *ngIf="project.id" class="container">
  <div class="row">
    <div class="leader-and-members">
      <div class="leader-info">
        <div class="leader-profile">
          <img
            src="../../../../assets/images/User-profile-picture.png"
            alt="Profile image"
            class="leader-profile-picture image-responsive col-sm-3"
          />
          <div class="col-sm-7 leader-name">
            <span>{{ this.userProject?.name }}</span
            ><br />
            <span class="leader-sign">{{ this.userProject?.email }}</span>
          </div>
        </div>
        <div class="about-leader">
          <h3>Проводит занятие</h3>
          <!-- <p>
            {{ this.userProject?.skills }}
          </p> -->
        </div>
      </div>
      <div class="members-count">
        <span>На занятие записалось: {{ project.members.length }}</span>
      </div>
      <div
        *ngIf="!(project.leader.toString() == this.user?.id) || !this.user?.id"
      >
        <button
          *ngIf="participateStatus == 3"
          class="btn btn-primary"
          (click)="participateInProject()"
        >
          Участвовать
        </button>
        <!-- <button class="btn-non-active" *ngIf="participateStatus == 1">
          Вы записаны на занятие
        </button> -->
        <button
          class="btn-non-active"
          *ngIf="participateStatus == 1 || participateStatus == 2"
        >
          Вы записаны на занятие
        </button>
      </div>
    </div>
    <div class="project-info">
      <h1>{{ project.title }}</h1>
      <p>
        {{ project.description }}
      </p>
    </div>
  </div>
  <!-- <h2
    *ngIf="project.leader.toString() == this.userInfo.id"
    class="application-title"
  >
    Записи на занятие
  </h2> -->
  <div
    class="pending-members"
    *ngIf="project.leader.toString() == this.userInfo.id"
  >
    <div class="pMember container-sm" *ngFor="let member of pMember">
      <div class="member-info">
        <img
          src="../../../../assets/images/User-profile-picture.png"
          alt="Фото профиля"
        />
        <div class="member-name">
          <span class="m-name">{{ member.name }}</span>
          <span class="pending">Участник (-ца)</span>
        </div>
      </div>

      <div class="decide-btns">
        <button
          class="btn-accept"
          (click)="makeDecisionOnAddingToProject(member.id, true, project.id)"
        >
          Принять
        </button>
      </div>
    </div>
  </div>

  <h2 class="application-title">Будут присутствовать</h2>
  <div class="project-members">
    <div class="pMember container-sm" *ngFor="let member of projMember">
      <div class="member-info">
        <img
          src="../../../../assets/images/User-profile-picture.png"
          alt="Фото профиля"
        />
        <div class="member-name">
          <span class="m-name">{{ member.name }}</span>
          <span class="member">Участник (-ца)</span>
        </div>
      </div>
      <!-- <span class="about-member-title">О себе</span>
      <p>{{ member.skills }}</p> -->
    </div>
  </div>
</div>
