<div class="container">
  <div class="details">
    <img src="../../../../assets/images/Logo.svg" alt="" />
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Имя Фамилия"
      ></text-input>
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        label="Электронная почта"
        type="email"
      ></text-input>
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        label="Пароль"
        type="password"
      ></text-input>
      <text-input
        [control]="fc.confirmPassword"
        [showErrorsWhen]="isSubmitted"
        label="Повторите пароль"
        type="password"
      ></text-input>
      <div class="skills">
        <text-input
          [control]="fc.skills"
          [showErrorsWhen]="isSubmitted"
          label="Навыки"
          type="text"
        ></text-input>
      </div>

      <div class="button"><button>Зарегистрироваться</button></div>
      <div class="login">
        <span>Уже пользователь? &nbsp;</span>
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }"
          >Войти</a
        >
      </div>
    </form>
  </div>
</div>
