.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
  }
  a {
    color: white;
    font-size: 1.3em;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    height: 250px;
    width: 250px;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
    border-radius: 8px;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button {
      width: 100%;
      background-color: white;
      border: 5px solid #0B78B8;
      border-radius: 15px;
      font-size: 1.2em;
      color: #0B78B8;
      font-weight: bold;

    }
  }
}
text-input {
  margin: 20px;
}
