.container-fluid {
  display: flex;
  flex-direction: column;
  background-image: url(../../../../assets/images/main-page-banner.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 635px;
  justify-content: center;
  align-items: center;
  span {
    color: white;
    font-weight: bold;
  }
  margin-bottom: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  #about-link {
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
}
