<div class="container">
  <div class="display-6">Создание нового занятия</div>
  <span class="attention">Обязательно заполнение всех полей для занятия</span>

  <div class="form-create">
    <span class="info-title">Информация о занятии</span>
    <form [formGroup]="createProjectForm" (ngSubmit)="submitCreation()">
      <div class="title">
        <label>Название занятия</label>
        <input
          name="title"
          formControlName="title"
          type="text"
          placeholder="Мин. длина 3 символа"
        />
      </div>
      <div class="title">
        <label>Название занятия</label>
        <input
          name="title"
          formControlName="title"
          type="text"
          placeholder="Мин. длина 3 символа"
        />
        <label>Факультет</label>
        <select formControlName="faculty" name="faculty">
          <option value="general">Общенаучный факультет</option>
          <option value="it">ИТ//Факультет</option>
          <option value="oil">Нефтяник</option>
          <option value="economy">Экономист</option>
          <option value="auto">Автомобилист</option>
        </select>
      </div>
      <div class="description">
        <label>Описание занятия</label>
        <textarea
          name="description"
          formControlName="description"
          placeholder="Мин. длина 50 символов"
        ></textarea>
      </div>
      <button>Создать новое занятие</button>
    </form>
  </div>
</div>
