<div class="container-sm">
  <div class="details">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      >
      </text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      >
      </text-input>

      <div class="button"><button type="submit">Логин</button></div>
      <div class="register">
        <span>Не зарегистрированы?</span>&nbsp;
        <a routerLink="/register-user" [queryParams]="{ returnUrl: returnUrl }"
          >Пройти регистрацию</a
        >
      </div>
    </form>
  </div>
</div>
