.register {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    color: black;
    font-size: 1.1em;
  }
  a {
    color: black;
    font-size: 1.1em;
  }
}

.container-sm {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    height: 250px;
    width: 250px;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 50px;
    border-radius: 15px;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button {
      width: 240px;
      height: 60px;
      background-color: white;
      border: 5px solid #0B78B8;
      border-radius: 15px;
      font-size: 1.2em;
      color: #0B78B8;
      font-weight: bold;
    }
  }
}
text-input {

}
