html, body {font-family:'Roboto Regular';
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_about {
  position: absolute;
  width: 236px;
  height: 20px;
  margin-top: 50px;
  left: auto;
  
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;


  color: #FFFFFF;
}
